:host { display: contents; }

.cards {
  background: #FFF;
  margin-bottom: 6px;
}

.list {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.item {
  width: 133px;
  flex: 0 0 auto;
  border-radius: 6px;
  border: 1px solid #EEE;
}

.title {
  height: 33px;
  margin-bottom: 6px;
}

.image-container {
  overflow: hidden;
  height: 150px;
}
