<div *ngIf="showInfo" class="info" [ngStyle]="getCardsInfoPlacementStyle()?.cardsInfo">
  <app-discount [discount]="discount" />
  <div *ngIf="showMarginAfterDiscount" style="padding-bottom: 8px;"></div>
  <h4
    class="title truncate_lines_2"
    [ngStyle]="{'height': titleStaticHeight}"
  >
    {{ item.name }}
  </h4>
  <div class="price-container">
    <app-price *ngIf="showPrice" [item]="item" />
  </div>
  <span *ngIf="showviewedCount" class="viewed-count">{{ item.viewed_count }} viewed</span>
</div>
