:host { display: contents; }

.header__container {
  background: var(--primary);
}

.header__button {
  height: 50px;
  border: 1px solid var(--primary);
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
}

.header__buttons-left-side {
  display: flex;
}

.header__buttons-right-side {
  display: flex;
  justify-content: flex-end;
}

.header__button-label {
  padding-right: 2px;
}

