:host { display: contents; }

.link {
  display: block;
  white-space: nowrap;
  line-height: 15px;
  font-weight: 400;
}

.link__image {
  overflow: hidden;
  height: 150px;
  padding-bottom: 6px;
}
