:host { display: contents; }

.link {
  display: block;
  white-space: nowrap;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 15px;
  font-weight: 400;
}
