<div class="cards">
  <h3 class="title">{{ title }}</h3>
  <ul class="list">
    <li *ngFor="let item of items" class="item">
      <div class="image__container">
        <img class="image" [attr.src]="item.image" alt="Product">
      </div>
      <app-product-title *ngIf="item.name" [title]="item.name" />
      <app-price *ngIf="showPrice" [item]="item" />
      <app-viewed-count *ngIf="showViewedCount && item.viewed_count" [viewedCount]="item.viewed_count" />
    </li>
  </ul>
  <app-link [text]="linkText" />
</div>
