<li
  class="card"
  [style.border]="border"
  [ngStyle]="getCardsInfoPlacementStyle()?.card"
  [style.border-radius]="borderRadius"
>
  <app-card-image
    [item]="item"
    [imageFullHeight]="imageFullHeight"
    [cardsInfoPlacement]="cardsInfoPlacement"
    [imageContainerMarginBottom]="imageContainerMarginBottom"
    [imageContainerBg]="imageContainerBg"
    [imageContainerHeight]="imageContainerHeight"
    [imageContainerBg]="imageContainerBg"
  />
  <app-cards-info
    [item]="item"
    [showPrice]="showPrice"
    [showviewedCount]="showviewedCount"
    [titleStaticHeight]="titleStaticHeight"
    [cardsInfoPlacement]="cardsInfoPlacement"
    [discount]="discount"
  />
</li>
