<div class="home">
  <app-header />
  <app-slider />
  <app-cards
    [items]="cards"
    [showPrice]="false"
    cardBorder="1px solid #EEE"
    titleStaticHeight="42px"
    imageContainerMarginBottom=""
    cardBorderRadius="6px"
    imageContainerBorderRadius="0"
  />
  <app-cards
    #cardsRef
    title="Related to items you've viewed in Books"
    [items]="cards2"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    [imageFullHeight]="true"
    [itemsInRow]="2"
    itemsWidth="1fr"
    linkText="Explore more"
    linkTextColor="#017185"
  />
  <app-cards
    title="Keep shopping for"
    [items]="keepShoppingCards"
    [showPrice]="false"
    [showviewedCount]="true"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    [imageFullHeight]="true"
    [itemsInRow]="2"
    itemsWidth="1fr"
    linkText="View your browsing history"
    linkTextColor="#017185"
  />
  <app-cards
    title="Related to items you've viewed"
    [items]="relatedCards"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.right"
    [imageFullHeight]="true"
    [itemsInRow]="1"
    itemsWidth="1fr"
  />
  <app-cards
    title="Shop deals"
    [items]="shopDealsItem"
    [imageFullHeight]="true"
    [itemsInRow]="1"
    itemsWidth="1fr"
    imageContainerBg="#FFF"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    imageContainerHeight="300px"
    borderRadius=""
    linkText="See all deals"
    linkTextColor="#017185"
  />
  <app-cards
    #cardsRef
    title="Categories for you to browse"
    [items]="categories"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    [imageFullHeight]="true"
    [itemsInRow]="2"
    itemsWidth="1fr"
  />
  <app-cards
    #cardsRef
    title="Recommended deals for you"
    [items]="recommendedDeals"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    [imageFullHeight]="true"
    [itemsInRow]="2"
    itemsWidth="1fr"
    linkText="See all deals"
    linkTextColor="#017185"
  />
  <app-cards
    #cardsRef
    title="Apparel under $25"
    [items]="apparels"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    [imageFullHeight]="true"
    [itemsInRow]="2"
    itemsWidth="1fr"
    linkText="Shop all"
    imageObjectFit="cover"
    linkTextColor="#017185"
    imageContainerMarginBottom="2px"
    [showMarginAfterDiscount]="false"
  />
  <app-cards
    #cardsRef
    title="Shoes Under $60"
    [items]="shoes"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    [imageFullHeight]="true"
    [itemsInRow]="2"
    itemsWidth="1fr"
    linkText="Shop all"
    imageObjectFit="cover"
    linkTextColor="#017185"
    imageContainerMarginBottom="2px"
    [showMarginAfterDiscount]="false"
  />
  <app-link [imageUrl]="'assets/images/beauty_bg.jpg'" />
  <app-link [imageUrl]="'assets/images/home_furniture_bg.jpg'" />
  <app-cards
    #cardsRef
    title="Popular Gifts in Camera"
    [items]="popularCameraGifts"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    [imageFullHeight]="true"
    [itemsInRow]="2"
    [showInfo]="false"
    itemsWidth="1fr"
    linkText="Shop now"
    imageObjectFit="cover"
    linkTextColor="#017185"
    imageContainerMarginBottom="2px"
  />
  <app-cards
    #cardsRef
    title="Tablets under $100"
    [items]="tablets"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    [imageFullHeight]="true"
    [itemsInRow]="2"
    [showInfo]="false"
    itemsWidth="1fr"
    linkText="Shop now"
    imageObjectFit="cover"
    linkTextColor="#017185"
    imageContainerMarginBottom="2px"
  />
  <app-link [imageUrl]="'assets/images/shop_sports_outdoor_bg.jpg'" />
</div>
