<div class="home">
  <app-header />
  <app-slider />
  <app-cards
    [items]="cards"
    [showPrice]="false"
    cardBorder="1px solid #EEE"
    titleStaticHeight="42px"
    imageContainerMarginBottom=""
  />
  <app-cards
    #cardsRef
    title="Related to items you've viewed in Books"
    [items]="cards2"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    [imageFullHeight]="true"
    [itemsInRow]="2"
    itemsWidth="1fr"
    linkText="Explore more"
  />
  <app-cards
    title="Keep shopping for"
    [items]="keepShoppingCards"
    [showPrice]="false"
    [showviewedCount]="true"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    [imageFullHeight]="true"
    [itemsInRow]="2"
    itemsWidth="1fr"
    linkText="View your browsing history"
  />
  <app-cards
    title="Related to items you've viewed"
    [items]="relatedCards"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.right"
    [imageFullHeight]="true"
    [itemsInRow]="1"
    itemsWidth="1fr"
  />
  <app-cards
    title="Shop deals"
    [items]="shopDealsItem"
    [imageFullHeight]="true"
    [itemsInRow]="1"
    itemsWidth="1fr"
    imageContainerBg="#FFF"
    [cardsInfoPlacement]="cardsRef.CardsInfoPlacement.bottom"
    imageContainerHeight="300px"
    borderRadius=""
    linkText="See all deals"
  />
</div>
