:host { display: contents; }

.cards {
  background-color: #FFF;
  display: flex;
  overflow-x: scroll;
}

.cards__item {
  overflow: hidden;
  width: 135px;
  margin: 6px;
  border: 1px solid #EEE;
  border-radius: 6px;
}

.cards__image-container {
  height: 150px;
}
