<div class="cards">
  <div class="cards__container">
    <h3 class="cards__title truncate">{{ title }}</h3>
    <ul
      class="cards__list"
      [ngStyle]="{'grid-template-columns': 'repeat(' + itemsInRow + ', ' + itemsWidth + ')'}"
    >
      <app-card
        *ngFor="let item of items"
        [item]="item"
        [showPrice]="showPrice"
        [imageFullHeight]="imageFullHeight"
        [border]="cardBorder"
        [showviewedCount]="showviewedCount"
        [titleStaticHeight]="titleStaticHeight"
        [cardsInfoPlacement]="cardsInfoPlacement"
        [imageContainerMarginBottom]="imageContainerMarginBottom"
        [imageContainerBg]="imageContainerBg"
        [discount]="item.discount"
        [imageContainerHeight]="imageContainerHeight"
        [borderRadius]="borderRadius"
        [imageObjectFit]="imageObjectFit"
        [showMarginAfterDiscount]="showMarginAfterDiscount"
        [borderRadius]="cardBorderRadius"
        [imageContainerBorderRadius]="imageContainerBorderRadius"
        [showInfo]="showInfo"
      />
    </ul>
    <app-link [text]="linkText" [textColor]="linkTextColor" />
  </div>
</div>
