:host { display: contents; }

.cards {
  background-color: #FFF;
  margin-bottom: 20px;
}

.cards__list {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: grid;
  overflow-x: scroll;
  grid-template-columns: repeat(13, 135px);
}

.cards__title {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  font-size: 18px;
}
