<nav class="navigation">
  <ul class="navigation__list">
    <li>
      <app-link text="Deals" />
    </li>
    <li>
      <app-link text="Amazon Basics" />
    </li>
    <li>
      <app-link text="Best Sellers" />
    </li>
    <li>
      <app-link text="Books" />
    </li>
    <li>
      <app-link text="Livestreams" />
    </li>
    <li>
      <app-link text="Music" />
    </li>
    <li>
      <app-link text="Video" />
    </li>
    <li>
      <app-link text="Home" />
    </li>
    <li>
      <app-link text="New Releases" />
    </li>
    <li>
      <app-link text="PC" />
    </li>
    <li>
      <app-link text="Health & Household" />
    </li>
    <li>
      <app-link text="Gift Cards" />
    </li>
  </ul>
</nav>
