<nav class="navigation">
  <ul class="navigation__list">
    <li>
      <a href="#" class="navigation__link">Deals</a>
    </li>
    <li>
      <a href="#" class="navigation__link">Amazon Basics</a>
    </li>
    <li>
      <a href="#" class="navigation__link">Best Sellers</a>
    </li>
    <li>
      <a href="#" class="navigation__link">Books</a>
    </li>
    <li>
      <a href="#" class="navigation__link">Livestreams</a>
    </li>
    <li>
      <a href="#" class="navigation__link">Music</a>
    </li>
    <li>
      <a href="#" class="navigation__link">Video</a>
    </li>
    <li>
      <a href="#" class="navigation__link">Home</a>
    </li>
    <li>
      <a href="#" class="navigation__link">New Releases</a>
    </li>
    <li>
      <a href="#" class="navigation__link">PC</a>
    </li>
    <li>
      <a href="#" class="navigation__link">Health & Household</a>
    </li>
    <li>
      <a href="#" class="navigation__link">Gift Cards</a>
    </li>
  </ul>
</nav>
