<nav class="navigation">
  <ul class="navigation__list">
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="Deals" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="Amazon Basics" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="Best Sellers" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="Books" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="Livestreams" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="Music" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="Video" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="Home" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="New Releases" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="PC" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="Health & Household" />
    </li>
    <li>
      <app-link padding="18px 16px" textColor="#FFF" text="Gift Cards" />
    </li>
  </ul>
</nav>
